.texteditor__container {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  background: linear-gradient(#8a2be2, #ff00ff);
  padding: 1em;
  border-radius: 8px;
}

.texteditor__panel-container {
  background-color: #1e1e1e;
  border: 1px solid #8e8a8a;
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 8px;
  min-height: 90px;
  margin-bottom: 2rem;
}

.cm-editor {
  font-family: "Clash Display", sans-serif !important;
}

.cm-editor .cm-gutters {
  display: none;
}

.cm-editor .cm-activeLine {
  background: none;
}

.cm-editor .cm-ySelectionInfo {
  position: absolute;
  top: -1.6em;
  left: -1px;
  padding: 2px 6px;
  opacity: 1;
  color: #fff;
  border: 0;
  border-radius: 6px;
  border-bottom-left-radius: 0;
  line-height: normal;
  white-space: nowrap;
  font-size: 14px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  pointer-events: none;
  user-select: none;
  z-index: 1000;
}

.cm-editor .cm-ySelectionCaretDot {
  display: none;
}

.cm-editor {
  height: 100%;
  font-size: 14px;
}

.cm-editor.cm-focused {
  outline: none;
}

.cm-editor .cm-scroller {
  padding-top: 1rem;
  display: none;
  overflow: hidden !important;
}

.cm-editor .cm-gutters {
  background: none;
  border: 0;
}

.cm-editor .cm-lineNumbers .cm-gutterElement {
  padding-left: 2rem;
  padding-right: 0.5rem;
  border-radius: 20px;
}

.texteditor__panel {
  background-color: #1e1e1e;
  border-radius: 8px;
  //width: 520px;
  max-width: 100%;
  margin: 0 auto;
  min-height: 230px;
  padding: 0.5em 0.8em;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
}

.texteditor__macbar {
  display: flex;
  gap: 0.5rem;

  div {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    cursor: pointer;
  }

  .mac-close {
    background-color: #ff5f56;
  }

  .mac-minimize {
    background-color: #ffbd2e;
  }

  .mac-expand {
    background-color: #27c93f;
  }
}

.texteditor__windowsbar {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;

  div {
    cursor: pointer;
  }
}
