.texteditor__container {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  //background: linear-gradient(#8a2be2, #ff00ff);
  padding: 1em;
  border-radius: 8px;
}

.texteditor__panel-container {
  background-color: #1e1e1e;
  border: 1px solid #8e8a8a;
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 8px;
  min-height: 90px;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  padding: 1em;
  gap: 2rem;
  flex-wrap: wrap;

  .theme__color-picker {
    display: grid;
    place-items: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #e0dbdb;
    cursor: pointer;
    font-size: 0.892rem;
    font-weight: 600;
    border-radius: 8px;
  }

  .texteditor__select {
    width: 200px;
    background-color: #1e1e1e !important;
    font-family: "Plus Jakarta Sans", sans-serif !important;
    border-radius: 8px;
    gap: 1rem;
    color: #e0dbdb;
    font-size: 0.892rem;
    font-weight: 500;
    cursor: pointer;
    border: #1e1e1e !important;
  }

  .texteditor-panel-item {
    h4 {
      font-size: 0.892rem;
      font-weight: 600;
      margin-bottom: 0.3rem;
      display: block;
      cursor: pointer;
    }

    button {
      font-family: "Plus Jakarta Sans", sans-serif;
      color: #e0dbdb;
      cursor: pointer;
      font-size: 0.892rem;
      font-weight: 600;
      border-radius: 8px;
      padding: 0.5rem 2rem;
      border: 1px solid #8e8a8a;
      background-color: #1e1e1e;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: #8e8a8a;
        color: #1e1e1e;
      }
    }
  }

  .ant-select-selection-search {
    background-color: #1e1e1e !important;
    border-radius: 8px;
    color: #e0dbdb;
    font-size: 0.892rem;
    font-weight: 500;
    cursor: pointer;
  }
}

.cm-editor * {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.cm-editor .cm-gutters {
  display: none;
}

.cm-editor .cm-activeLine {
  background: none;
}

.cm-editor .cm-ySelectionInfo {
  position: absolute;
  top: -1.6em;
  left: -1px;
  padding: 2px 6px;
  opacity: 1;
  color: #fff;
  border: 0;
  border-radius: 6px;
  border-bottom-left-radius: 0;
  line-height: normal;
  white-space: nowrap;
  font-size: 14px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 600;
  pointer-events: none;
  user-select: none;
  z-index: 1000;
}

.cm-editor .cm-ySelectionCaretDot {
  display: none;
}

.cm-editor {
  height: 100%;
  font-size: 14px;
  border-radius: 8px;

  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.3), 0 0 0 1.5px rgba(0, 0, 0, 0.8),
    0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.cm-editor.cm-focused {
  outline: none;
}

.cm-editor .cm-scroller {
  padding-top: 1rem;
  display: none;
  overflow: hidden !important;
}

.cm-editor .cm-gutters {
  background: none;
  border: 0;
}

.cm-editor .cm-lineNumbers .cm-gutterElement {
  padding-left: 2rem;
  padding-right: 0.5rem;
  border-radius: 20px;
}

.ͼ4 .cm-content {
  padding: 1rem 0.5rem;
}

.texteditor__panel {
  border-radius: 8px;
  max-width: 520px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  //min-height: 230px;
  //padding: 0.5em 0.8em;
}

.texteditor__macbar {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  z-index: 99;
  padding: 0.4em 0.8em;

  div {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    cursor: pointer;
  }

  .mac-close {
    background-color: #ff5f56;
  }

  .mac-minimize {
    background-color: #ffbd2e;
  }

  .mac-expand {
    background-color: #27c93f;
  }
}

.texteditor__windowsbar {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  position: absolute;
  z-index: 99;
  padding: 0.4em 0.8em;
  right: 0;

  div {
    cursor: pointer;
  }
}

label {
  font-family: "Clash Display", sans-serif;
  color: #e0dbdb;
  font-size: 0.892rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  display: block;
  cursor: pointer;
}
