.applayout__container {
  padding-top: 3rem;
}

.applayout__content {
  padding: 6rem 0 4rem;
}

.animated-gradient {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #333333, #000000, #333333);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
